In [1]:
# Import libraries

import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from patsy import dmatrix
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
import datetime
from dateutil.parser import parse
# Pretty display for notebooks

%matplotlib inline


# Allows the use of display() for DataFrames
from IPython.display import display 

# Ignore the warnings
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
train = pd.read_csv("../asset/train.csv")
test = pd.read_csv("../asset/test.csv")
weather = pd.read_csv("../asset/weather.csv")
key = pd.read_csv("../asset/key.csv")
submission_example = pd.read_csv("../asset/sampleSubmission.csv")

# Success - Display the first record


import pickle
import awesome_functions as cf

# 원본을 유지하기 위해서 카피
df_train = train.copy()
df_weather = weather.copy()
df_key = key.copy()
df_test = test.copy()

# 35번 스토어에서만 팔린 제품

In [2]:
df_exception = train[(train["item_nbr"]==24)|(train["item_nbr"]==63)|(train["item_nbr"]==66)]

In [3]:
df_exception =df_exception[df_exception["store_nbr"]==35]

In [4]:
df_exception.head()

              date  store_nbr  item_nbr  units
746165  2012-06-01         35        24      0
746204  2012-06-01         35        63      0
746207  2012-06-01         35        66      9
751160  2012-06-02         35        24      0
751199  2012-06-02         35        63      8

In [5]:
# date타입을 parsing해서 year를 반환
def handle_date_Y(a):
    return parse(a).year

# date타입을 parsing해서 month를 반환
def handle_date_M(a):
    return parse(a).month

# date타입을 parsing해서 day를 반환
def handle_date_D(a):
    return parse(a).day

# date타입을 parsing해서 weekday를 반환
def handle_date_WeekDay(a):
    return parse(a).weekday()

In [6]:
df_exception['year'] = df_exception['date'].apply(handle_date_Y)
df_exception['month'] = df_exception['date'].apply(handle_date_M)
df_exception['weekday'] = df_exception['date'].apply(handle_date_WeekDay)

In [7]:
df_exception.head()

              date  store_nbr  item_nbr  units  year  month  weekday
746165  2012-06-01         35        24      0  2012      6        4
746204  2012-06-01         35        63      0  2012      6        4
746207  2012-06-01         35        66      9  2012      6        4
751160  2012-06-02         35        24      0  2012      6        5
751199  2012-06-02         35        63      8  2012      6        5

In [8]:
import re
with open('./asset/holiday_names.txt') as file:  
    data = file.readlines()
    holidays = []
    BF = []
    months = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    for holiday in data:
        if re.findall("BlackFriday", holiday) != []:
            BF.append(holiday.split(" ")[:3])
        else:
            holidays.append(holiday.split(" ")[:3])
    for i in range(len(holidays)): 
        month_idx = months.index(holidays[i][1])
        if month_idx < 10:
            holidays[i][1] = "0" + str(month_idx)
        else:
            holidays[i][1] = str(month_idx)
    for z in range(len(holidays)): 
        if len(holidays[z][2]) == 1: 
            holidays[z][2] = "0" + holidays[z][2]
    for z in range(len(BF)) :
        BF[z][1] = "11"
        
        
# holiday 구분하기 
def isholiday(dt): 
    if dt.split("-") in BF :
        return "black friday"
    elif dt.split("-") in holidays :
        return "holiday"
    else :
        return "regular day"
    
df = df_weather.copy() # weather 데이터프레임

# holiday라는 컬럼추가. 위에서 보듯 세가지로만 구분되어있음.
# from_formular에서 C('holiday')사용하면 3가지 컬럼으로 바뀐다는 의미.
df_exception['holiday'] = df_exception['date'].apply(isholiday)

In [9]:
df_exception["is_weekend"] = np.where(df_exception["weekday"]<5, 0,1)

In [10]:
df_exception.head()

,date,store_nbr,item_nbr,units,year,month,weekday,holiday,is_weekend
746165,2012-06-01,35,24,0,2012,6,4,regular day,0
746204,2012-06-01,35,63,0,2012,6,4,regular day,0
746207,2012-06-01,35,66,9,2012,6,4,regular day,0
751160,2012-06-02,35,24,0,2012,6,5,regular day,1
751199,2012-06-02,35,63,8,2012,6,5,regular day,1

In [11]:
df_exception["holiday"].unique()

array(['regular day', 'holiday', 'black friday'], dtype=object)

In [12]:
df_exception["is_holiday"] = np.where(df_exception["holiday"]=="regular day", 0,1)

In [13]:
df_exception["log1p"] = np.log1p(df_exception["units"])

In [14]:
df_exception.head()

,date,store_nbr,item_nbr,units,year,month,weekday,holiday,is_weekend,is_holiday,log1p
746165,2012-06-01,35,24,0,2012,6,4,regular day,0,0,0.000000
746204,2012-06-01,35,63,0,2012,6,4,regular day,0,0,0.000000
746207,2012-06-01,35,66,9,2012,6,4,regular day,0,0,2.302585
751160,2012-06-02,35,24,0,2012,6,5,regular day,1,0,0.000000
751199,2012-06-02,35,63,8,2012,6,5,regular day,1,0,2.197225

In [15]:
model = sm.OLS.from_formula("log1p ~ C(item_nbr):C(year):C(month) + C(item_nbr):C(is_holiday) + C(item_nbr):C(is_weekend) + 0", data=df_exception)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  log1p   R-squared:                       0.871
Model:                            OLS   Adj. R-squared:                  0.866
Method:                 Least Squares   F-statistic:                     187.1
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        14:48:47   Log-Likelihood:                -1668.5
No. Observations:                2553   AIC:                             3517.
Df Residuals:                    2463   BIC:                             4043.
Df Model:                          89
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
C(item_nbr)[24]:C(is_holiday)[0]                 0.5172      0.024     21.935      0.000       0.471       0.563
C(item_nbr)[63]:C(is_holiday)[0]                 0.3647      0.024     15.467      0.000       0.318       0.411
C(item_nbr)[66]:C(is_holiday)[0]                 2.2556      0.024     95.670      0.000       2.209       2.302
C(item_nbr)[24]:C(is_holiday)[1]                 0.3896      0.067      5.848      0.000       0.259       0.520
C(item_nbr)[63]:C(is_holiday)[1]                 0.2693      0.067      4.041      0.000       0.139       0.400
C(item_nbr)[66]:C(is_holiday)[1]                 2.1260      0.067     31.909      0.000       1.995       2.257
C(item_nbr)[24]:C(is_weekend)[T.1]              -0.0084      0.036     -0.232      0.816      -0.079       0.062
C(item_nbr)[63]:C(is_weekend)[T.1]               0.0638      0.036      1.771      0.077      -0.007       0.134
C(item_nbr)[66]:C(is_weekend)[T.1]               0.2556      0.036      7.096      0.000       0.185       0.326
C(item_nbr)[24]:C(month)[T.2]                    0.3366      0.042      7.962      0.000       0.254       0.420
C(item_nbr)[63]:C(month)[T.2]                    0.0837      0.042      1.979      0.048       0.001       0.167
C(item_nbr)[66]:C(month)[T.2]                    0.3719      0.042      8.796      0.000       0.289       0.455
C(item_nbr)[24]:C(month)[T.3]                    0.3691      0.041      9.070      0.000       0.289       0.449
C(item_nbr)[63]:C(month)[T.3]                    0.9787      0.041     24.051      0.000       0.899       1.058
C(item_nbr)[66]:C(month)[T.3]                    0.3505      0.041      8.613      0.000       0.271       0.430
C(item_nbr)[24]:C(month)[T.4]                    0.4546      0.041     11.023      0.000       0.374       0.536
C(item_nbr)[63]:C(month)[T.4]                    0.8541      0.041     20.709      0.000       0.773       0.935
C(item_nbr)[66]:C(month)[T.4]                    0.3072      0.041      7.448      0.000       0.226       0.388
C(item_nbr)[24]:C(month)[T.5]                    0.4027      0.040      9.964      0.000       0.323       0.482
C(item_nbr)[63]:C(month)[T.5]                    0.6606      0.040     16.345      0.000       0.581       0.740
C(item_nbr)[66]:C(month)[T.5]                    0.2689      0.040      6.654      0.000       0.190       0.348
C(item_nbr)[24]:C(month)[T.6]                   -0.5104      0.083     -6.180      0.000      -0.672      -0.348
C(item_nbr)[63]:C(month)[T.6]                    0.1975      0.083      2.391      0.017       0.036       0.359
C(item_nbr)[66]:C(month)[T.6]                    0.1548      0.083      1.874      0.061      -0.007       0.317
C(item_nbr)[24]:C(month)[T.7]                   -0.5106      0.081     -6.278      0.000      -0.670      -0.351
C(item_nbr)[63]:C(month)[T.7]                    0.3000      0.081      3.689      0.000       0.141       0.459
C(item_nbr)[66]:C(month)[T.7]                    0.1737      0.081      2.136      0.033       0.014       0.333
C(item_nbr)[24]:C(month)[T.8]                   -0.5150      0.082     -6.315      0.000      -0.675      -0.355
C(item_nbr)[63]:C(month)[T.8]                   -0.1971      0.082     -2.417      0.016      -0.357      -0.037
C(item_nbr)[66]:C(month)[T.8]                    0.3875      0.082      4.752      0.000       0.228       0.547
C(item_nbr)[24]:C(month)[T.9]                   -0.4273      0.083     -5.171      0.000      -0.589      -0.265
C(item_nbr)[63]:C(month)[T.9]                   -0.3827      0.083     -4.632      0.000      -0.545      -0.221
C(item_nbr)[66]:C(month)[T.9]                    0.2357      0.083      2.852      0.004       0.074       0.398
C(item_nbr)[24]:C(month)[T.10]                   0.1991      0.081      2.453      0.014       0.040       0.358
C(item_nbr)[63]:C(month)[T.10]                  -0.3750      0.081     -4.620      0.000      -0.534      -0.216
C(item_nbr)[66]:C(month)[T.10]                   0.0575      0.081      0.709      0.479      -0.102       0.217
C(item_nbr)[24]:C(month)[T.11]                   0.1709      0.083      2.061      0.039       0.008       0.334
C(item_nbr)[63]:C(month)[T.11]                  -0.3562      0.083     -4.296      0.000      -0.519      -0.194
C(item_nbr)[66]:C(month)[T.11]                   0.3467      0.083      4.181      0.000       0.184       0.509
C(item_nbr)[24]:C(month)[T.12]                   0.8601      0.082     10.429      0.000       0.698       1.022
C(item_nbr)[63]:C(month)[T.12]                  -0.3796      0.082     -4.603      0.000      -0.541      -0.218
C(item_nbr)[66]:C(month)[T.12]                   0.5317      0.082      6.448      0.000       0.370       0.693
C(item_nbr)[24]:C(year)[T.2013]:C(month)[1]      0.5838      0.081      7.194      0.000       0.425       0.743
C(item_nbr)[63]:C(year)[T.2013]:C(month)[1]     -0.3750      0.081     -4.620      0.000      -0.534      -0.216
C(item_nbr)[66]:C(year)[T.2013]:C(month)[1]      0.6401      0.081      7.887      0.000       0.481       0.799
C(item_nbr)[24]:C(year)[T.2014]:C(month)[1]     -0.5068      0.081     -6.245      0.000      -0.666      -0.348
C(item_nbr)[63]:C(year)[T.2014]:C(month)[1]     -0.3750      0.081     -4.620      0.000      -0.534      -0.216
C(item_nbr)[66]:C(year)[T.2014]:C(month)[1]      0.5554      0.081      6.843      0.000       0.396       0.715
C(item_nbr)[24]:C(year)[T.2013]:C(month)[2]      1.1789      0.067     17.669      0.000       1.048       1.310
C(item_nbr)[63]:C(year)[T.2013]:C(month)[2]     -0.1673      0.067     -2.507      0.012      -0.298      -0.036
C(item_nbr)[66]:C(year)[T.2013]:C(month)[2]      0.2596      0.067      3.891      0.000       0.129       0.390
C(item_nbr)[24]:C(year)[T.2014]:C(month)[2]     -0.8423      0.067    -12.624      0.000      -0.973      -0.711
C(item_nbr)[63]:C(year)[T.2014]:C(month)[2]      0.2510      0.067      3.761      0.000       0.120       0.382
C(item_nbr)[66]:C(year)[T.2014]:C(month)[2]      0.1123      0.067      1.683      0.092      -0.019       0.243
C(item_nbr)[24]:C(year)[T.2013]:C(month)[3]      1.2526      0.063     19.740      0.000       1.128       1.377
C(item_nbr)[63]:C(year)[T.2013]:C(month)[3]     -0.1022      0.063     -1.611      0.107      -0.227       0.022
C(item_nbr)[66]:C(year)[T.2013]:C(month)[3]      0.2509      0.063      3.954      0.000       0.126       0.375
C(item_nbr)[24]:C(year)[T.2014]:C(month)[3]     -0.8835      0.064    -13.902      0.000      -1.008      -0.759
C(item_nbr)[63]:C(year)[T.2014]:C(month)[3]      1.0809      0.064     17.008      0.000       0.956       1.206
C(item_nbr)[66]:C(year)[T.2014]:C(month)[3]      0.0996      0.064      1.567      0.117      -0.025       0.224
C(item_nbr)[24]:C(year)[T.2013]:C(month)[4]      1.4199      0.065     21.986      0.000       1.293       1.547
C(item_nbr)[63]:C(year)[T.2013]:C(month)[4]     -0.3415      0.065     -5.288      0.000      -0.468      -0.215
C(item_nbr)[66]:C(year)[T.2013]:C(month)[4]      0.2101      0.065      3.253      0.001       0.083       0.337
C(item_nbr)[24]:C(year)[T.2014]:C(month)[4]     -0.9653      0.064    -14.970      0.000      -1.092      -0.839
C(item_nbr)[63]:C(year)[T.2014]:C(month)[4]      1.1956      0.064     18.541      0.000       1.069       1.322
C(item_nbr)[66]:C(year)[T.2014]:C(month)[4]      0.0971      0.064      1.506      0.132      -0.029       0.224
C(item_nbr)[24]:C(year)[T.2013]:C(month)[5]      1.3119      0.063     20.677      0.000       1.187       1.436
C(item_nbr)[63]:C(year)[T.2013]:C(month)[5]     -0.0390      0.063     -0.615      0.539      -0.163       0.085
C(item_nbr)[66]:C(year)[T.2013]:C(month)[5]      0.2973      0.063      4.686      0.000       0.173       0.422
C(item_nbr)[24]:C(year)[T.2014]:C(month)[5]     -0.9092      0.063    -14.329      0.000      -1.034      -0.785
C(item_nbr)[63]:C(year)[T.2014]:C(month)[5]      0.6996      0.063     11.025      0.000       0.575       0.824
C(item_nbr)[66]:C(year)[T.2014]:C(month)[5]     -0.0284      0.063     -0.447      0.655      -0.153       0.096
C(item_nbr)[24]:C(year)[T.2013]:C(month)[6]      2.1778      0.122     17.810      0.000       1.938       2.418
C(item_nbr)[63]:C(year)[T.2013]:C(month)[6]      0.2742      0.122      2.242      0.025       0.034       0.514
C(item_nbr)[66]:C(year)[T.2013]:C(month)[6]      0.3560      0.122      2.911      0.004       0.116       0.596
C(item_nbr)[24]:C(year)[T.2014]:C(month)[6]  -4.302e-15      0.122  -3.52e-14      1.000      -0.240       0.240
C(item_nbr)[63]:C(year)[T.2014]:C(month)[6]      0.3906      0.122      3.195      0.001       0.151       0.630
C(item_nbr)[66]:C(year)[T.2014]:C(month)[6]      0.1770      0.122      1.447      0.148      -0.063       0.417
C(item_nbr)[24]:C(year)[T.2013]:C(month)[7]      2.4738      0.120     20.564      0.000       2.238       2.710
C(item_nbr)[63]:C(year)[T.2013]:C(month)[7]     -0.1916      0.120     -1.593      0.111      -0.428       0.044
C(item_nbr)[66]:C(year)[T.2013]:C(month)[7]      0.3433      0.120      2.854      0.004       0.107       0.579
C(item_nbr)[24]:C(year)[T.2014]:C(month)[7]     -0.0003      0.120     -0.002      0.998      -0.236       0.236
C(item_nbr)[63]:C(year)[T.2014]:C(month)[7]     -0.0288      0.120     -0.239      0.811      -0.265       0.207
C(item_nbr)[66]:C(year)[T.2014]:C(month)[7]      0.1691      0.120      1.405      0.160      -0.067       0.405
C(item_nbr)[24]:C(year)[T.2013]:C(month)[8]   9.685e-18   2.27e-17      0.426      0.670   -3.49e-17    5.43e-17
C(item_nbr)[63]:C(year)[T.2013]:C(month)[8]  -1.742e-16   3.89e-17     -4.478      0.000   -2.51e-16   -9.79e-17
C(item_nbr)[66]:C(year)[T.2013]:C(month)[8]   4.751e-16   3.34e-17     14.221      0.000     4.1e-16    5.41e-16
C(item_nbr)[24]:C(year)[T.2014]:C(month)[8]      0.0005      0.120      0.004      0.996      -0.235       0.236
C(item_nbr)[63]:C(year)[T.2014]:C(month)[8]      0.1316      0.120      1.094      0.274      -0.104       0.368
C(item_nbr)[66]:C(year)[T.2014]:C(month)[8]     -0.1527      0.120     -1.269      0.205      -0.389       0.083
C(item_nbr)[24]:C(year)[T.2013]:C(month)[9]      1.4546      0.122     11.895      0.000       1.215       1.694
C(item_nbr)[63]:C(year)[T.2013]:C(month)[9]      0.0021      0.122      0.017      0.986      -0.238       0.242
C(item_nbr)[66]:C(year)[T.2013]:C(month)[9]      0.4043      0.122      3.306      0.001       0.164       0.644
C(item_nbr)[24]:C(year)[T.2014]:C(month)[9]     -0.0834      0.122     -0.682      0.495      -0.323       0.156
C(item_nbr)[63]:C(year)[T.2014]:C(month)[9]      0.0043      0.122      0.035      0.972      -0.236       0.244
C(item_nbr)[66]:C(year)[T.2014]:C(month)[9]     -0.0714      0.122     -0.584      0.559      -0.311       0.168
C(item_nbr)[24]:C(year)[T.2013]:C(month)[10]    -0.7059      0.120     -5.868      0.000      -0.942      -0.470
C(item_nbr)[63]:C(year)[T.2013]:C(month)[10]  -9.18e-17      0.120  -7.63e-16      1.000      -0.236       0.236
C(item_nbr)[66]:C(year)[T.2013]:C(month)[10]     0.5322      0.120      4.424      0.000       0.296       0.768
C(item_nbr)[24]:C(year)[T.2014]:C(month)[10]    -0.7059      0.120     -5.868      0.000      -0.942      -0.470
C(item_nbr)[63]:C(year)[T.2014]:C(month)[10] -1.244e-15      0.120  -1.03e-14      1.000      -0.236       0.236
C(item_nbr)[66]:C(year)[T.2014]:C(month)[10]     0.1030      0.120      0.857      0.392      -0.133       0.339
C(item_nbr)[24]:C(year)[T.2013]:C(month)[11]    -0.6601      0.122     -5.394      0.000      -0.900      -0.420
C(item_nbr)[63]:C(year)[T.2013]:C(month)[11]    -0.0085      0.122     -0.069      0.945      -0.248       0.231
C(item_nbr)[66]:C(year)[T.2013]:C(month)[11]     0.1319      0.122      1.078      0.281      -0.108       0.372
C(item_nbr)[24]:C(year)[T.2014]:C(month)[11]          0          0        nan        nan           0           0
C(item_nbr)[63]:C(year)[T.2014]:C(month)[11]          0          0        nan        nan           0           0
C(item_nbr)[66]:C(year)[T.2014]:C(month)[11]          0          0        nan        nan           0           0
C(item_nbr)[24]:C(year)[T.2013]:C(month)[12]    -1.3624      0.121    -11.231      0.000      -1.600      -1.125
C(item_nbr)[63]:C(year)[T.2013]:C(month)[12]     0.0056      0.121      0.046      0.963      -0.232       0.244
C(item_nbr)[66]:C(year)[T.2013]:C(month)[12]     0.0697      0.121      0.575      0.566      -0.168       0.308
C(item_nbr)[24]:C(year)[T.2014]:C(month)[12]          0          0        nan        nan           0           0
C(item_nbr)[63]:C(year)[T.2014]:C(month)[12]          0          0        nan        nan           0           0
C(item_nbr)[66]:C(year)[T.2014]:C(month)[12]          0          0        nan        nan           0           0
==============================================================================
Omnibus:                      500.884   Durbin-Watson:                   1.939
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4117.757
Skew:                          -0.692   Prob(JB):                         0.00
Kurtosis:                       9.066   Cond. No.                     2.76e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.28e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [16]:
matrix_df = pd.DataFrame(dmatrix("C(item_nbr):C(year):C(month) + C(item_nbr):C(is_holiday) + C(item_nbr):C(is_weekend) + 0", data=df_exception))
model = LinearRegression(fit_intercept=True)
result = model.fit(matrix_df,df_exception["log1p"])
result.score(matrix_df,df_exception["log1p"])
cv = KFold(5)
kfold = cross_val_score(result,matrix_df,df_exception["log1p"], scoring="r2", cv=cv)
kfold, kfold.mean()

(array([-7.30237582e+25, -9.51214773e+25, -6.46896766e+23, -1.56609050e+26,
        -5.70387154e+23]), -6.519431387701235e+25)

In [17]:
model = linear_model.Lasso(alpha = 0.01)
result = model.fit(matrix_df,df_exception["log1p"])
result.score(matrix_df,df_exception["log1p"])
cv = KFold(5)
kfold = cross_val_score(result,matrix_df,df_exception["log1p"], scoring="r2", cv=cv)
kfold, kfold.mean()

(array([0.79897529, 0.17999407, 0.38815732, 0.39885093, 0.78307913]),
 0.5098113471161632)

In [18]:
model = sm.OLS.from_formula("log1p ~ C(item_nbr):C(month) + C(item_nbr):C(is_holiday) + C(item_nbr):C(is_weekend) + 0", data=df_exception)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  log1p   R-squared:                       0.706
Model:                            OLS   Adj. R-squared:                  0.701
Method:                 Least Squares   F-statistic:                     147.2
Date:                Fri, 06 Jul 2018   Prob (F-statistic):               0.00
Time:                        14:48:48   Log-Likelihood:                -2720.3
No. Observations:                2553   AIC:                             5525.
Df Residuals:                    2511   BIC:                             5770.
Df Model:                          41
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
C(item_nbr)[24]:C(month)[1]            0.5556      0.091      6.085      0.000       0.377       0.735
C(item_nbr)[63]:C(month)[1]           -0.0115      0.091     -0.126      0.899      -0.191       0.167
C(item_nbr)[66]:C(month)[1]            2.8538      0.091     31.257      0.000       2.675       3.033
C(item_nbr)[24]:C(month)[2]            1.0220      0.096     10.621      0.000       0.833       1.211
C(item_nbr)[63]:C(month)[2]            0.4888      0.096      5.080      0.000       0.300       0.677
C(item_nbr)[66]:C(month)[2]            2.8140      0.096     29.245      0.000       2.625       3.003
C(item_nbr)[24]:C(month)[3]            1.0705      0.092     11.684      0.000       0.891       1.250
C(item_nbr)[63]:C(month)[3]            1.8314      0.092     19.989      0.000       1.652       2.011
C(item_nbr)[66]:C(month)[3]            2.7818      0.092     30.361      0.000       2.602       2.961
C(item_nbr)[24]:C(month)[4]            1.1989      0.093     12.952      0.000       1.017       1.380
C(item_nbr)[63]:C(month)[4]            1.6448      0.093     17.768      0.000       1.463       1.826
C(item_nbr)[66]:C(month)[4]            2.7168      0.093     29.349      0.000       2.535       2.898
C(item_nbr)[24]:C(month)[5]            1.1211      0.091     12.261      0.000       0.942       1.300
C(item_nbr)[63]:C(month)[5]            1.3543      0.091     14.811      0.000       1.175       1.534
C(item_nbr)[66]:C(month)[5]            2.6595      0.091     29.085      0.000       2.480       2.839
C(item_nbr)[24]:C(month)[6]            0.7325      0.077      9.561      0.000       0.582       0.883
C(item_nbr)[63]:C(month)[6]            0.7824      0.077     10.213      0.000       0.632       0.933
C(item_nbr)[66]:C(month)[6]            2.5885      0.077     33.789      0.000       2.438       2.739
C(item_nbr)[24]:C(month)[7]            0.8309      0.075     11.086      0.000       0.684       0.978
C(item_nbr)[63]:C(month)[7]            0.5901      0.075      7.873      0.000       0.443       0.737
C(item_nbr)[66]:C(month)[7]            2.6005      0.075     34.699      0.000       2.454       2.747
C(item_nbr)[24]:C(month)[8]            0.0022      0.091      0.024      0.981      -0.177       0.181
C(item_nbr)[63]:C(month)[8]            0.2323      0.091      2.545      0.011       0.053       0.411
C(item_nbr)[66]:C(month)[8]            2.5672      0.091     28.123      0.000       2.388       2.746
C(item_nbr)[24]:C(month)[9]            0.5467      0.076      7.149      0.000       0.397       0.697
C(item_nbr)[63]:C(month)[9]           -0.0172      0.076     -0.225      0.822      -0.167       0.133
C(item_nbr)[66]:C(month)[9]            2.6027      0.076     34.031      0.000       2.453       2.753
C(item_nbr)[24]:C(month)[10]           0.2456      0.075      3.270      0.001       0.098       0.393
C(item_nbr)[63]:C(month)[10]          -0.0115      0.075     -0.154      0.878      -0.159       0.136
C(item_nbr)[66]:C(month)[10]           2.5253      0.075     33.627      0.000       2.378       2.673
C(item_nbr)[24]:C(month)[11]           0.3583      0.096      3.725      0.000       0.170       0.547
C(item_nbr)[63]:C(month)[11]           0.0021      0.096      0.022      0.983      -0.187       0.191
C(item_nbr)[66]:C(month)[11]           2.6691      0.096     27.749      0.000       2.480       2.858
C(item_nbr)[24]:C(month)[12]           0.6847      0.093      7.388      0.000       0.503       0.866
C(item_nbr)[63]:C(month)[12]          -0.0136      0.093     -0.146      0.884      -0.195       0.168
C(item_nbr)[66]:C(month)[12]           2.8233      0.093     30.463      0.000       2.642       3.005
C(item_nbr)[24]:C(is_holiday)[T.1]    -0.1296      0.108     -1.197      0.232      -0.342       0.083
C(item_nbr)[63]:C(is_holiday)[T.1]    -0.0908      0.108     -0.839      0.402      -0.303       0.122
C(item_nbr)[66]:C(is_holiday)[T.1]    -0.1316      0.108     -1.215      0.224      -0.344       0.081
C(item_nbr)[24]:C(is_weekend)[T.1]    -0.0075      0.054     -0.139      0.890      -0.113       0.098
C(item_nbr)[63]:C(is_weekend)[T.1]     0.0674      0.054      1.252      0.211      -0.038       0.173
C(item_nbr)[66]:C(is_weekend)[T.1]     0.2543      0.054      4.725      0.000       0.149       0.360
==============================================================================
Omnibus:                      236.167   Durbin-Watson:                   2.120
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              408.786
Skew:                           0.649   Prob(JB):                     1.71e-89
Kurtosis:                       4.469   Cond. No.                         2.86
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
matrix_df = pd.DataFrame(dmatrix("C(item_nbr):C(month) + C(item_nbr):C(is_holiday) + C(item_nbr):C(is_weekend) + 0", data=df_exception))
model = LinearRegression(fit_intercept=True)
result = model.fit(matrix_df,df_exception["log1p"])
result.score(matrix_df,df_exception["log1p"])
cv = KFold(5)
kfold = cross_val_score(result,matrix_df,df_exception["log1p"], scoring="r2", cv=cv)
kfold, kfold.mean()

(array([ 0.70064003, -0.0692108 ,  0.2581782 ,  0.20091234,  0.69064889]),
 0.3562337314436138)

In [20]:
model = linear_model.Lasso(alpha = 0.01)
result = model.fit(matrix_df,df_exception["log1p"])
result.score(matrix_df,df_exception["log1p"])
cv = KFold(5)
kfold = cross_val_score(result,matrix_df,df_exception["log1p"], scoring="r2", cv=cv)
kfold, kfold.mean()

(array([0.60812387, 0.25266849, 0.30300443, 0.37535456, 0.6233774 ]),
 0.43250575043562395)

In [21]:
df_test2 = pd.read_csv("./dt_test2_201807061248.csv")

In [22]:
model = sm.OLS.from_formula("log1p ~ C(item_nbr):C(month) + C(item_nbr):C(is_holiday) + C(item_nbr):C(weekday) + 0", data=df_exception)
result = model.fit_regularized(alpha=0.01, L1_wt=0)
y_new = result.predict(df_test2)

In [23]:
y_new.head()

0    0.658363
1    1.012718
2    1.210705
3    0.658363
4    1.012718
dtype: float64

In [24]:
y_new = pd.DataFrame(y_new,columns=["result"])

In [25]:
y_new.head()

     result
0  0.658363
1  1.012718
2  1.210705
3  0.658363
4  1.012718

In [26]:
y_new["result"] = np.exp(y_new["result"])-1

In [27]:
y_new["result"]

0         0.931628
1         1.753074
2         2.355848
3         0.931628
4         1.753074
5         2.355848
6         0.931628
7         1.753074
8         2.355848
9         0.931628
10        1.753074
11        2.355848
12        1.763476
13        2.321529
14        9.972644
15        1.763476
16        2.321529
17        9.972644
18        1.763476
19        2.321529
20        9.972644
21        1.763476
22        2.321529
23        9.972644
24        1.390170
25        2.579164
26        9.239724
27        1.390170
28        2.579164
29        9.239724
           ...
14211     0.205839
14212     0.322340
14213     9.388565
14214     0.205839
14215     0.322340
14216     9.388565
14217     0.205839
14218     0.322340
14219     9.388565
14220     0.205839
14221     0.322340
14222     9.388565
14223     0.205839
14224     0.322340
14225     9.388565
14226     0.284427
14227     0.448111
14228    11.674939
14229     0.284427
14230     0.448111
14231    11.674939
14232     0.284427
14233     0.448111
14234    11.674939
14235     0.284427
14236     0.448111
14237    11.674939
14238     0.284427
14239     0.448111
14240    11.674939
Name: result, Length: 14241, dtype: float64

In [28]:
test_retult2 = pd.concat([df_test2,y_new],axis=1)

In [29]:
test_retult2.head()

,date,store_nbr,item_nbr,station_nbr,tmax,tmin,tavg,depart,dewpoint,wetbulb,...,resultdir,avgspeed,year,month,day,weekday,holiday,is_weekend,is_holiday,result
0,2013-04-01,2,24,14,71,42,56,1,41,48,...,4.0,11.0,2013,4,1,0,regular day,0,0,0.931628
1,2013-04-01,2,63,14,71,42,56,1,41,48,...,4.0,11.0,2013,4,1,0,regular day,0,0,1.753074
2,2013-04-01,2,66,14,71,42,56,1,41,48,...,4.0,11.0,2013,4,1,0,regular day,0,0,2.355848
3,2013-04-01,6,24,14,71,42,56,1,41,48,...,4.0,11.0,2013,4,1,0,regular day,0,0,0.931628
4,2013-04-01,6,63,14,71,42,56,1,41,48,...,4.0,11.0,2013,4,1,0,regular day,0,0,1.753074

In [30]:
test_retult2 = test_retult2[["date","store_nbr","item_nbr","result"]]

In [36]:
test_retult2.head()

         date  store_nbr  item_nbr    result
0  2013-04-01          2        24  0.931628
1  2013-04-01          2        63  1.753074
2  2013-04-01          2        66  2.355848
3  2013-04-01          6        24  0.931628
4  2013-04-01          6        63  1.753074

In [37]:
test_retult2

             date  store_nbr  item_nbr     result
0      2013-04-01          2        24   0.931628
1      2013-04-01          2        63   1.753074
2      2013-04-01          2        66   2.355848
3      2013-04-01          6        24   0.931628
4      2013-04-01          6        63   1.753074
5      2013-04-01          6        66   2.355848
6      2013-04-01         38        24   0.931628
7      2013-04-01         38        63   1.753074
8      2013-04-01         38        66   2.355848
9      2013-04-01         42        24   0.931628
10     2013-04-01         42        63   1.753074
11     2013-04-01         42        66   2.355848
12     2013-04-02          2        24   1.763476
13     2013-04-02          2        63   2.321529
14     2013-04-02          2        66   9.972644
15     2013-04-02          6        24   1.763476
16     2013-04-02          6        63   2.321529
17     2013-04-02          6        66   9.972644
18     2013-04-02         38        24   1.763476
19     2013-04-02         38        63   2.321529
20     2013-04-02         38        66   9.972644
21     2013-04-02         42        24   1.763476
22     2013-04-02         42        63   2.321529
23     2013-04-02         42        66   9.972644
24     2013-04-03          2        24   1.390170
25     2013-04-03          2        63   2.579164
26     2013-04-03          2        66   9.239724
27     2013-04-03          6        24   1.390170
28     2013-04-03          6        63   2.579164
29     2013-04-03          6        66   9.239724
...           ...        ...       ...        ...
14211  2014-08-01         15        24   0.205839
14212  2014-08-01         15        63   0.322340
14213  2014-08-01         15        66   9.388565
14214  2014-08-01         25        24   0.205839
14215  2014-08-01         25        63   0.322340
14216  2014-08-01         25        66   9.388565
14217  2014-08-01         32        24   0.205839
14218  2014-08-01         32        63   0.322340
14219  2014-08-01         32        66   9.388565
14220  2014-08-01         37        24   0.205839
14221  2014-08-01         37        63   0.322340
14222  2014-08-01         37        66   9.388565
14223  2014-08-01         40        24   0.205839
14224  2014-08-01         40        63   0.322340
14225  2014-08-01         40        66   9.388565
14226  2014-08-02         15        24   0.284427
14227  2014-08-02         15        63   0.448111
14228  2014-08-02         15        66  11.674939
14229  2014-08-02         25        24   0.284427
14230  2014-08-02         25        63   0.448111
14231  2014-08-02         25        66  11.674939
14232  2014-08-02         32        24   0.284427
14233  2014-08-02         32        63   0.448111
14234  2014-08-02         32        66  11.674939
14235  2014-08-02         37        24   0.284427
14236  2014-08-02         37        63   0.448111
14237  2014-08-02         37        66  11.674939
14238  2014-08-02         40        24   0.284427
14239  2014-08-02         40        63   0.448111
14240  2014-08-02         40        66  11.674939

[14241 rows x 4 columns]

In [32]:
cf.saveDataFrameToCsv(test_retult2,"test_result2")