In [6]:
import pandas as pd
import numpy as np

In [15]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2),index=['a', 'b', 'c'], columns=['데이터1', '데이터2'])
df1

   데이터1  데이터2
a     0     1
b     2     3
c     4     5

In [16]:
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2),index=['a', 'c'],columns=['데이터3', '데이터4'])
df2

   데이터3  데이터4
a     5     6
c     7     8

In [17]:
pd.concat([df1, df2])

C:\Users\GS63VR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

   데이터1  데이터2  데이터3  데이터4
a   0.0   1.0   NaN   NaN
b   2.0   3.0   NaN   NaN
c   4.0   5.0   NaN   NaN
a   NaN   NaN   5.0   6.0
c   NaN   NaN   7.0   8.0